<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<h1 align="center"> Greet Me </h1>
<form align="center" class="" action="/greetings/add" method="post">
    <label class="labels"> Name :
<input type="text" name="names" placeholder="Type your name">
<input type="submit" name="" value="Greet me!">
<br>
<br>
<input id="English" type="radio" name="language" value="English">English
<input id="Isixhosa" type="radio" name="language" value="Isixhosa">IsiXhosa
<input id="Afrikaans" type="radio" name="language" value="Afrikaans">Afrikaans

</form>

<p>{{language}} </p>


<p> {{namesCounter}} </p>
<br>

<div class="error">
    {{messages.error}}

</div>
<br>

<div class ="message">
    {{message}}
</div>
<br>
<br>
<a href ="/greetings/namesgreeted" class="PageLinks">GO TO Names Greeted! </a>
