<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<h1 align="center"> Names Greeted </h1>
<div  align="center">

<ul>
    {{#each names}}
        <li><a href="/greetings/counter/{{this._id}}">{{this.dbnames}}</a></li>
    {{/each}}
</ul>

<a href="/greetings/add" class="PageLinks">GO BACK Home! </a>

</div>
