<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<h1> Names Greeted </h1>



<ul>
{{#each names}}
 <li><a href ="/greetings/counter/{{this._id}}">{{this.dbnames}}</a></li>
{{/each}}
</ul>

<a href ="/greetings/add">home page </a>
